{% extends '_master_public.html' %}

{% block content %}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change your password</h4>
        <p class="card-description">Complete the form below completely</p>

        {% include 'alert/messages.html' %}

            <form class="forms-sample" action="{% url 'change-process' %}" method="post">
                {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputName1">New Password</label>
                <input type="password" name="new_pass" class="form-control" placeholder="New password" required>
              </div>

              <div class="form-group">
                <label for="exampleInputName1">Confirm Password</label>
                <input type="password" name="con_pass" class="form-control" placeholder="Confirm password" required>
              </div>


              <button type="submit" class="btn btn-info mr-2">Submit</button>
            </form>


      </div>
    </div>

{% endblock %}
